<h1>Contacts</h1>

<div class=outlineborder>
<table class="databrouser" border="2">
  <tr class="one">
    <td >First name</td>
    <td>Second name</td>
    <td>Telephone</td>
    <td>Email</td>
    <th>Site</th>
    <td>Address</td>
    <td class="empty"></td>
  </tr>

<% @contacts.each do |contact| %>
  <tr class="two">
    <td><%= contact.first_name %></td>
    <td><%= contact.second_name %></td>
    <td><%= contact.telephone %></td>
    <td><%= contact.email %></td>
    <td><%= contact.site %></td>
    <td><%= contact.address %></td>
    <td class="empty"><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<%= form_for(@contact) do |f| %>
    <tr class="three">        
 
          <td class="set" >
           <%= f.text_field :first_name, :size => 14 %>
          </td>
          <td>
            <%= f.text_field :second_name, :size => 12 %>  
          </td>
          <td>
              <%= f.telephone_field :telephone, :size => 12 %>
          </td>
          <td>
              <%= f.email_field :email, :size => 12 %>
          </td>
          <td>
              <%= f.url_field :site, :size => 12 %>
          </td>
          <td>
        <%= f.text_field :address, :size => 12 %>
          </td>
          <td class="empty">
            <%= f.submit %>
          </td>
        
    </tr>
<% end %>

</table>



</div>

<br />

<%= link_to 'New Contact', new_contact_path %>

