/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
table {
	width: 100%;
}
 
body {
	margin-left: 40px;
	margin-right: 40px;
}

td {
	width: 200px;
}

.databrouser {
 	
	border-spacing: 0px;
	border: 1px;
}

 .one {
 	background: #fc0;
 	height: 30px;
 }

.two {
 	background: #fcf;
 	height: 30px;
 }

 .three {
 	background: #ccf;
 	height: 30px;
 }

 .empty {
 	background: #FFFFFF;
 }